@model IEnumerable<WorkShop2.Models.Prof>

@{
    ViewData["Title"] = "Професор";
    Layout = "~/Views/Shared/_LayoutProf.cshtml";
}

<h2>Листа на предмети</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Студенти</a>
                </td>
            </tr>
        }
    </tbody>
</table>